@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* {
  font-family: "Indie Flower", cursive;
  background-color: #e53a7f;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}
p {
  position: fixed;
  padding-top: 10%;
  left: 2;
  font-size: 15px;
  color: black;
  font-family: arial;
  opacity: 0.4;
}
